.tab {
  fill: #707070;
  stroke: black;
  color: black;
  border-radius: 3px;
  stroke-width: 1px;
}

#main {
  padding: 0em;
  margin: 0em;
  width: 100%;
  height: 100%;
}

body {
  margin: 0em;
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
  width: 100%;
}

canvas{
  position:absolute;
}

.selector{
  stroke: #d9d93a;
  stroke-width: 3px;
}